<div class="w-100 d-flex justify-content-center" >
<form action="/answer" data-turbo="false" class=" col-6 justfy-content-center mt-5" >
  <label for="answer" class="form-label">Ask your coach anything:</label>
  <input type="text" name="answer" value="<%= params[:answer] %>" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary my-3 w-100">
</form>
</div>
